@import "CSS/socialicons.css";
@import "CSS/blog-posts.css";
@import url("CSS/Navbar.css");

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* small screen */
    .layout{
        display:flex;
        flex-direction: column;
}
/* medium screen */

@media screen and (min-width: 745px){
    .layout{
        display:grid;
        grid-template-areas: 
        "in"
        "hd"
        "nv"
        "ct"
        "ft";  
    }
}
/* large screen */
@media screen and (min-width: 780px){
    .layout{
        display: grid;
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin: auto;
        grid-template-columns: 100px repeat(7,1fr);
        grid-template-rows: 100px 100px 500px 50px;
        grid-template-areas: "in in in in in in in in"
        "hd hd hd hd hd hd hd hd"
        "nv nv ct ct ct ct ct ct"
        "ft ft ft ft ft ft ft ft";
    }
}
.box{
    border: thin solid gray;
}
.intro{
    grid-area: in;
    vertical-align: baseline;
    background: transparent;
    width: 80%;
    margin: auto;
    align-items: center;
}
.intro a{
    vertical-align: baseline;
    background: transparent;
    margin: auto;
    float: left;
    margin-top:0.5em;
    text-decoration: none;
}
.intro img{
    width:60px;
    height:50px
}
#right{
    float:right;
}
#right img{
    width:60px;
    height:50px
}
.menu,.search{
    display: flex;
    align-items: center;
}
.menu img{
    margin-right: 10px;
}
.search img{
    margin-right: 10px;
}
.menu p, .search p {
    color: teal;
    font-size: 20px;
    text-align: center;
}
.menu{
    margin-left: 20px;
}
.search, .join {
    margin-right: 20px;
}
.header{
    grid-area: hd;
    text-align: center;
}
.header img{
   width: 10%;
   height: 50px;
}

.nav{
    grid-area: nv;
}
.homepageindex li{
    margin-bottom: 10px;
    color: green
}

.content{
    grid-area: ct;
}

.readmore{ 
    float: left;
    font-size: 14px;
    color: cornflowerblue;
    margin-right: 8px;
    width:30%;
    height:30%
}

.footer{
    grid-area: ft;
    background: transparent;
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;
    align-items: center;
    margin: auto;
    display: inline-block;
}
.footer h3{
    text-align: center;
}
